*{margin:0;padding:0px;box-sizing:border-box;list-style:grid;}
a{text-decoration:none;}




ul li::marker {
  color: red;
  font-size: 0px;
}

body{
   background:#000;
   font-family:Nunito,sans-serif;
   margin-top: -100px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 175px) 175px;
    justify-items: stretch;
    align-items: start;
    justify-content: space-evenly;
}


@media screen and (max-width:340PX){
.cards{

    display: grid;
    grid-template-columns: repeat(auto-fill, 100px) 100px;
    align-items: start;
    justify-items: stretch;

}
}


}



.card{text-align:center;}

.card img{
    margin-top: 5px;
    width: 100%;
    height: 84%;
    border-radius:7px;
}

.card span{padding:0 .3rem;display:none;}
a{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;} 
.form__group{position:relative;padding:15px 0 0;margin:0 auto;margin-top:10px;margin-bottom:1rem;width:90%;}
.form__field{font-family:inherit;width:100%;border:0;border-bottom:2px solid #9b9b9b;outline:0;font-size:1.3rem;color:#fff;background:0 0;transition:border-color .2s;}
.form__field::placeholder{color:transparent;}
.form__field:placeholder-shown~.form__label{font-size: 100%;;cursor:text;top:10px;}
.form__label{position:absolute;top:0;display:block;transition:.2s;font-size:1rem;color:#fff;}
.form__field:focus{padding-bottom:6px;font-weight:700;border-width:3px;border-image:linear-gradient(to right,red,#008cf7,red);border-image-slice:1;}
.form__field:focus~.form__label{position:absolute;top:0;display:block;transition:.2s;font-size:1rem;color:red;font-weight:700;}
.form__field:invalid,.form__field:required{box-shadow:none;}



/*Fix: Unnecessary elements removed*/
.widget-item-control,.item-control.blog-admin,
.continue,.loadmore,.thread-chrome.thread-collapsed,
.singleton-element:not(.cookie-choices-info),
.noAllowNewComments .comment-reply,
.comments .hidden {display:none;}
/*Fix: Show lightbox*/
.CSS_LIGHTBOX{z-index:90001!important;}
/*Fix: Image responsive*/
a[imageanchor]:not([style*=float]){margin-right:0!important;margin-left:0!important;}
.widget-content img,
img[data-original-height],
img[data-original-width] {height: auto;}
/*Fix: Comment Editor*/
#comment-editor{border:0;width:100%;min-height:220px;}
.box{margin:0 auto;margin-bottom:2rem;width:60%;display:flex;align-items:center;}
#caps{font-size:1.3rem;}
.progress{background:#212042;width:100%;height:15px;border-radius:10px;}
.progress-bar{width:0;opacity:0;height:15px;background:linear-gradient(to right,#228ee9,#1b7dbf);border-radius:10px;display:flex;justify-content:center;align-items:center;transition:1s ease;}
.box span{padding-left:10px;color:#fff;}


.xaviec {
    background: #00000000;


    right: -0.5em;
    width: 40%;
    height: 16%;
    margin: 22px 0px 0px 0px;
}

.card h6{
    background: #212042;
    margin-bottom: 0%;
    color: #fff;
    border-radius: 7px;

}


/* prueba de paginacion */
.paginacion {
	padding-top:10%;
}

.paginacion ul {
	list-style:none;
	text-align: center;
}

.paginacion ul li {
	display:inline-block;
	margin-right:5px;
}

.paginacion ul li a {
	display:block;
	padding:5px 10px;
	color:#fff;
	background:#024959;
	text-decoration: none;
}

.paginacion ul li a:hover {
	background:#ff0000;
}

.paginacion ul li .active {
    background: #ff0000;
    box-shadow: 0 0 10px #ff0000, 0 0 60px #ff0000, 0 0 80px #ff0000;
    transition-delay: 0.1s;
}


/* luz de neon alrededor */


img:hover{
    background: #ff0000;
    box-shadow: 0 0 10px #ff0000, 0 0 60px #ff0000, 0 0 80px #ff0000; /*efecto con el mouse*/
}



        /*          Pagination
        ***************************/
        /*Pagination Links Background*/



.menu-azlist ul.sub-menu a,.AZList>li>a,.wp-pagenavi a,.wp-pagenavi span,.nav-links a,.nav-links span,.tagcloud a{background-color: #313036 }
        @media screen and (max-width:62em){
            .Menu>ul>li{border-bottom-color: #313036 }
            .Menu .sub-menu a{background-color: #313036 }
        }
        /*Pagination Links Background Hover*/.menu-azlist ul.sub-menu a:hover,.menu-azlist [class*="current"]>a,.AZList a:hover,.AZList .Current a,.wp-pagenavi a:hover,.wp-pagenavi span.current,.nav-links a:hover,.nav-links [class*="current"],.tagcloud a:hover{background-color: #de1212 }
        @media screen and (max-width:62em){
            .Menu .sub-menu a:hover{background-color: #de1212 }
        }
        /*Pagination Links Color*/.menu-azlist ul.sub-menu a,.AZList>li>a,.wp-pagenavi a,.wp-pagenavi span,.tagcloud a{color: #fff !important}
        @media screen and (max-width:62em){
            .Menu .sub-menu a{color: #fff !important}
        }
        /*Pagination Links Color Hover*/.Menu li.menu-azlist:hover ul.sub-menu a:hover,.menu-azlist [class*="current"]>a,.AZList a:hover,.AZList .Current a,.wp-pagenavi a:hover,.wp-pagenavi span.current,.nav-links a:hover,.nav-links [class*="current"],.tagcloud a:hover{color: #fff !important}
        @media screen and (max-width:62em){
            .Menu li:hover .sub-menu li:hover a,.Menu .sub-menu li:hover:before{color: #fff !important}
        }



:root {
    --body: #110920;
    --text: #fff;
    --link: #fff;
    --link-hover: #03c1ef;
    --primary: #03c1ef;
    --secondary: #8c3596;
    --tertiary: #666;
    --dark: #000;
    --light: #fff;
    --gray: #1b0f30;
    --gray-light: #311e54;
    --gray-dark: #eee;
}

:root {
    --body: #110920;
    --text: #fff;
    --link: #fff;
    --link-hover: #03c1ef;
    --primary: #03c1ef;
    --secondary: #8c3596;
    --tertiary: #666;
    --dark: #000;
    --light: #fff;
    --gray: #1b0f30;
    --gray-light: #311e54;
    --gray-dark: #eee;
    --dark-2: rgba(0,0,0,.2);
    --dark-5: rgba(0,0,0,.5);
    --light-1: rgba(255,255,255,.1);
    --light-2: rgba(255,255,255,.2);
    --light-7: rgba(255,255,255,.7);
    --success: #28a745;
    --danger: #FF5757;
    --warning: #ffc107;
    --size: 1rem;
    --f-size: 1rem;
    --family: 'Work Sans';
}


.pagination {
    text-align: center;
    font-weight: 700;
    margin-bottom: var(--size);
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}

.btn.snd, .page-link.current, .submit {
    background-color: var(--primary);
    color: var(--light);
    -webkit-box-shadow: 0 0 1rem var(--primary);
    box-shadow: 0 0 1rem var(--primary);
}

.btn, button, [type=button], [type=reset], [type=submit], .pagination a, .extend, .tagcloud a, a.comment-reply-link {
    cursor: pointer;
    padding: .5rem 0.1rem;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 2rem;
    width: auto;
    background-color: var(--light-2);
    color: var(--light);
    min-width: 3rem;
    border: 0;
}

.page-link.current, .submit {
    background-color: var(--primary);
    color: var(--light);
    -webkit-box-shadow: 0 0 1rem var(--primary);
    box-shadow: 0 0 1rem var(--primary);
}



.boton {
    width: 8em;
    height: 2em;
border: 1px solid #2e5c8b;; /*anchura, estilo y color borde*/
padding: 8px; /*espacio alrededor texto*/
background-color: #20f504; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 50px; /*bordes redondos*/
    position: absolute;
    top: 2em;
}

