:root {
     margin-left: 0px;
    margin-right: 0px;
    --red: #E50914;
    --black: #141414;
    --gray: #aaa;
    --white: #fff;
    --black-transparent: rgba(0,0,0,.50);
}

/* Resetando configurações padrões */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elementos base */

body {
    background-color: var(--black);
    font-family: 'Times New Roman', Times, serif;
    color: var(--white);
}

header .container {
display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: -11px;
    margin-bottom: 10px;
}

header .logo {
    position: relative;
    top: 5px;
    color: var(--red);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    text-align: left;
    margin-left: 5px;
}

header nav a {
    text-decoration: none;
    color: var(--gray);
    margin-right: 15px;
}

header nav a:hover {
    color: var(--white);
}

/* FONDO DE CATALOGO PRINCIPAL */



.main-movie .title {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-movie .description {
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: -webkit-center;
    font-size: 75%;
}

.button-main-movie {
    PADDING: 5PX;
    PADDING-LEFT: 1.5EM;
    background-color: var(--black-transparent);
    border: none;
    color: var(--white);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    transition: .6s ease all;
    BORDER-RADIUS: 10PX;
}

.button-main-movie:hover {
    background-color: var(--white);
    color: var(--black);
}

.button-main-movie i  {
    LEFT: -15PX;
    PADDING-RIGHT: 125PX;
    margin-right: 8px;
    POSITION: ABSOLUTE;
}

.container {
    margin-left: 0px;
}

.main-movie .container {
    width: 100%;
}

.carousel-films {
    margin-top: 10px;
}

.box-film {
    height: 100%;
    width: 100%;
    display: block;
}

h3.title {
    padding-top: 0px;






a:link {
  text-decoration: none;
}


