@media screen and (max-width: 700px) {
    header .container {
        display: flex;
        flex-direction: column;
    .description {
        width: 90%;



    }



@media screen and (max-width: 1000px) {

    header .container {
        display: flex;
        flex-direction: column;

    .description {
        width: 100%;
                    }

.owl-carousel .owl-item img {
    display: block;
    padding-right: 3px;
    width: 80%;
}



}


@media screen and (max-width: 420px) {
.main-movie {
    font-size: 16px;
    background-image: linear-gradient(rgba(0,0,0,.60),rgba(0,0,0,0.5)100%), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtV03FY3oTT8Qa9tIfnrKt3dJK0J4gKkAxbw&usqp=CAU);
    height: 333PX;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

h3.title {
    POSITION: relative;
    TOP: -50PX;
    padding: 0px;
}

.main-movie .description {
    FONT-SIZE: 12PX;
    margin-bottom: 15px;
    margin-top: 0px;
    text-align: unset;
}

.button-main-movie {
    PADDING: 3PX;
    PADDING-LEFT: 1.5EM;
    background-color: var(--black-transparent);
    border: none;
    color: var(--white);
    font-size: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    transition: .6s ease all;
    BORDER-RADIUS: 10PX;
}

.button-main-movie i {
    LEFT: 24PX;
    PADDING-RIGHT: 125PX;
    margin-right: 8px;
    POSITION: ABSOLUTE;
}


@media screen and (max-width: 465px) {
    header .container {
        display: flex;
        flex-direction: column;
    .description {
        width: 40%;

:root {
    margin-left: 5px;
    margin-right: 0px;
    --red: #E50914;
    --black: #141414;
    --gray: #aaa;
    --white: #fff;
    --black-transparent: rgba(0,0,0,.50);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html[Attributes Style] {
    -webkit-locale: "pt-br";
}
user agent stylesheet
html {
    display: block;
}

    }







}
