 
 * {
Background:black;
Text-decoration:none;

}





.generos .nav-links{
    overflow-x: scroll;
    overflow-y: hidden;
    width: 85%;
    display: flex;
    height: 40px;
}

.page-link.current   {
    color: black;
    box-shadow:60rem var(--primary);
    display: inline-grid;
    justify-content: space-around;
Background:aqua;
}



.page-link  {
    border-style: solid;
    border-width: 0.5px;
    margin: 0px 10px 10px 0px;
Border-radius:4px;
color: #fff300ed;
    padding: 4px;
    background: #8a797900;
}    


         #player-container {
      display: none;
      position: fixed;
      top: 50%;
      left: 49%;
      transform: translate(-50%, -50%);
      z-index: 999;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 0px;
      border-radius: 5px;
    }

    #close-button {
      position: fixed;
      top: -25px;
      Right: 1px;
      padding: 1px 1px;
      cursor: pointer;
      color: White;
      font-size: 20px;
      z-index: 9999;
    }

    #video-player {
    width: 800px;
    height: 100%;
}






    #search-input {
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    border: solid;
    color: #b7ee00;
    font-size: 14px;
    Width:50px;
}

    #search-button {
      padding: 0px 10px;
      background-color: #4CAF50;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 14px;
      color:black;
      cursor: pointer;
    }
    #search-bar {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 0.5em;
    Right: 1em;
    Width:50px;
}
#search-button{
    padding: 0px 0px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: black;
    cursor: pointer;
}
    ::-webkit-scrollbar {
        background:transparent;
    }

  

    /* Existing styles for navigation and search-bar */

    #container {
      position: relative;
      max-width: 100%;
      display: flex;
      flex-wrap: wrap; /* This allows items to wrap to the next line if there's not enough space */
      justify-content: center; /* This centers the items horizontally within the container */
    }

    #movie-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; /* Distribute movie items with equal space between them */
      align-items: flex-start; /* Align movie items to the top of the container */
   /*   max-width: 800px;  Limit the maximum width of the movie list container */
      margin: 0 auto; /* Center the movie list container */
    }



    figure {
      margin: 1.5px; /* Add some space between movie items */
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    img {
      margin-bottom: 0.5rem;
      position: relative;
      width: 250px;
      border-radius: 14px;
    }

    .movie-title {
      text-align: center;
      font-weight: bold;
       Z-index:9;
       Bottom:30px
      
    }

    /* Responsive styling for the movie items */
    .movie-item {
      /* Add your styles for each movie item */
      flex: 0 0 calc(20% - 0px); /* This sets the initial width to 50% minus the margin */
    
    }

.movie-title{
  Position:relative;
  Width:250px;
  Font-size:auto;
  Color:white;
 
  Margin:0px 0px 30px 0px;
  background:black;
  Border-radius:0px 0px 10px 10px;
  
}

     
    @media only screen and (min-width: 600px) {
     
    #container {
      position: relative;
      max-width: 100%;
      display: flex;
      Margin-Left:0em;
      flex-wrap: wrap; /* This allows items to wrap to the next line if there's not enough space */
      justify-content: center; /* This centers the items horizontally within the container */
    }
    .generos .nav-links{
    overflow-x: scroll;
    overflow-y: hidden;
    width: 80%;
    display: flex;
    height: 55px;
    Margin-left:5px;
}
    img {
      margin-bottom: 0.5rem;
      position: relative;
      width: 220px;
      border-radius: 14px;
    }
    .movie-title{
  Position:relative;
  Width:190px;
  Font-size:auto;
  Color:white;
  Margin:0px 0px 30px 0px;
  background:black;
  Border-radius:0px 0px 10px 10px;
  
}
    #player-container {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 999;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 0px;
      border-radius: 5px;
    }

    #close-button {
      position: fixed;
      top: -0px;
      Right: 0px;
      padding: 3px 3px;
      cursor: pointer;
      color: Aqua;
      font-size: 20px;
      z-index: 9999;
    } 
        #video-player {
    width: 800px;
    height: 100%;
}

    }

    @media only screen and (max-width: 600px) {
     
         #movie-list {
          
      display: flex;
      Margin-Top:2em;
    }
          img {
        width: 150px;
        Margin:0px;
        Paddin ; 0Px;
      }
     
     
     
      /* Add styles for smaller screens */
      img {
        width: 130px;
        Margin:0px;
        Paddin ; 0Px;
      }

      .movie-item {
        flex-basis: calc(50% - 10px); /* Adjust the width for smaller screens */
      }
      
      .movie-title{
  Position:relative;
  Width:130px;
  Font-size:13px; 
  Color:white;
  Top:-1em;
  Padding:0px 0px; 
  background:rgba(00,00,00,0.89);
  Border-radius:0px 0px 10px 10px;
  
}
    #video-player {
      width: 300px;
      height: 180px;
    }
        #close-button {
      position: fixed;
      top: -15px;
      Right: 1px;
      padding: 1px 1px;
      cursor: pointer;
      color: red;
      font-size: 15px;
      z-index: 9999;
    }
    
    .generos .nav-links{
    overflow-x: scroll;
    overflow-y: hidden;
    width: 98%;
    display: flex;
    height: 40px;
}
#search-bar {
    position: absolute;
    Top:40px;
    Right: 0.5em;
    Z-index:99;
    display: flex;
    justify-content: flex-end;
    Width:90%;
}
    #search-input {
    padding: 5px 5px;
    margin-right: 5px;
    border-radius: 5px;
    border: solid;
    color: #b7ee00;
    font-size: 14px;
    Width:100%;
}
#search-button{
    padding: 0px 5px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: black;
    cursor: pointer;
}
    }