* {
    outline:none !important;
    box-sizing: border-box;
    text-decoration: none;
    background: black;
}

/* #####   AREA DONDE ESTAN LOS CAPITULOS Y TEMPORADAS  ########    */
.dialog-content {
    overflow-y: auto;
    width: 35rem;
    height: 529px;
    background-color: #000000;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    position: relative;
    TOP: -100PX;
    left: 18rem;
}

.dialog-content H2 {
    TOP: 1.7EM;
    position: fixed;
    width: 736PX;
    z-index: 5;
}
 .dialog-content h2{
    
}

/*  

.dialog-content h2 {
    background: #0d4757;
    border: 2px solid red;
    border-radius: 4px;
    padding: 5px;
    transition: all 0.9s;
    text-align: center;
    box-shadow: 0px 10px 16px 4px rgb(255 0 0);
    margin-inline: 0px;
}
*/
.dialog-content h2 {
    width: calc(60% - 53px);
    top: 5rem;
    border: 0px;
    background: transparent;
    box-shadow: 0px 2px 25px 9px red;
    text-shadow: 0px 9px 16px #00c8ff;
    font-size: 30px;
    left: 3%;
    right: 9%;
}


.container {
    margin: 12px 7px 2px 7px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.serie {
  position: relative;
}

.serie-image {
    border-radius: 10px;
    width: 160px;
    height: 250px;
}

/*  Borde Que Tiene Cada Imagen En Color Rojo */
.serie-info {
    border-radius: 10px;
    box-shadow: 0 0 32px #ff0000;
    position: absolute;
    top: 0;
    left: 0;
    width: 160PX;
    height: 250PX;
    background-color: rgb(0 0 0 / 74%);  /*  controlar opacidad */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.serie:hover .serie-info {
  opacity: 1;
}

h2 {
    position: absolute;
    top: 1px;
    background: #00000005;
    height: auto;
    PADDING: 0PX 0PX;
    width: 160PX;
    color: aqua;
    font-size: 20px;
}
p {
    overflow-y: auto;
    height: 220px;
    margin-top: 8em;
    padding: 40px 7px;
    background: #00000000;
}

.dialog-box {
    position: fixed;
    top: 0;
    left: 250px;
    width: 780PX;
    height: 700PX;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}


/* #####   AREA DEL "POP-UP" DONDE ESTAN LOS CAPITULOS Y TEMPORADAS   ########    */

.dialog-box.open {
    background: #000000;
    top: 0rem;
    left: 0px;
    HEIGHT: 815PX;
    WIDTH: -webkit-fill-available;
    visibility: visible;
    opacity: 1;
    transition: opacity 1.8s;
    z-index: 2;
}



.close-button  {
    background: black;
    border: 0.5px solid #00ff3c;
    color: red;
    font-weight: bold;
    position: fixed;
    top: 30px;
    left: 43%;
    right: 43%;
    border-radius: 5px;
    padding: 2px 63px;
    Z-INDEX: 10;
BOX-SHADOW: 0px 1px 9px 4px rgb(0 255 31);
}
.close-button:hover{
 
    background:red;
    color:white;

  }

.hidden {
  display: none;
}

 .seasons-dialog {
    WIDTH: 0EM;
    POSITION: relative;
    LEFT: 17rem;
    TOP: -4.3EM;
    transition: all 0.9s;
}

 /* ########  AREA DE LA SINOPSIS ######### */
.seasons h3 {
    OVERFLOW-Y: SCROLL;
    HEIGHT: 400PX;
    WIDTH: 42rem;
    Z-INDEX: 2;
    POSITION: fixed;
    color: aliceblue;
    padding: 10PX 20PX 15PX 20PX;
    left: 25px;
    TOP: 9EM;
}
.season-button {
    width: 10rem;
    position: relative;
    left: -70px;
    border: 3px solid #90ff00;
    padding: 3px;
    margin-top: 10px;
    color: aqua;
    background: black;
    box-shadow: 0px 1px 21px 0px rgb(255 251 4);
}
.season-button:hover{
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	background:#12C987
}




 /* Muestra los cap tulos en l nea vertical */
.chapter-menu {
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chapter-menu a:hover{
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	background:#009dfd;
        color:black;
}

/* Ajusta el espacio entre los cap tulos */
.chapter-menu a {
    color: #e9a603;
    padding: 10px;
    width: 20rem;
    border-radius: 5px;
    margin-bottom: 28px;
    box-shadow: 0px 0px 7px 5px rgb(158 0 248);
}

.navigation-buttons {
    POSITION: RELATIVE;
    ALIGN-ITEMS: center;
    BOTTOM: 2.EM;
    LEFT: 0%;
}

#start-button, #previous-button, #next-button{
    position: relative;
    border: 2px solid red;
    background: black;
    color: #03ff41;
    border-radius: 4px;
    padding: 5px;
    transition: all 0.9s;
    text-align: center;
    box-shadow: 0px 5px 12px 3px rgb(248, 70, 0);
    margin-inline: 10px;
    top: 10px;
}


body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.pagination {
    top: 3rem;
    position: relative;
    margin: 6px 7px 0px;
    overflow-x: scroll;
    width: 26em;
    height: 4em;
    margin-left: 33%;
    padding: 10px;
    z-index: 0;
}


.prev-btn, .next-btn {
 display:NONE;
  background-color: #3498db;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.page-numbers {
  display: flex;
}

.page-number {
    background-color: #000000;
    color: #70ff00;
    border: solid;
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.page-number.active {
    background-color: #ff0000;
    color: black;
    box-shadow: 0px 0px 16px 4px rgb(255 0 0);
}


/* Estilo de la animaci n para el t tulo */
.animated-title {
    animation: slideLeft 0s linear infinite; /* Duraci n y efecto de animaci n */
    white-space: nowrap; /* Evitar que el texto se divida en m ltiples l neas */
    overflow: hidden; /* Ocultar el texto que desborda el contenedor */
    width: 200px; /* Ajusta el ancho de la animaci n seg n tus preferencias */
}

/* Definici n de la animaci n */
@keyframes slideLeft {
    0% {
        transform: translateX(50%); /* Comenzar fuera del contenedor */
    }
    100% {
        transform: translateX(-50%); /* Terminar fuera del contenedor */
    }
}







/*   ###################################################   */


@media (max-width: 840px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

.chapter-menu {
    padding-top: 0px;
    padding-bottom: 30px;
    margin-left: -57px;
    margin-right: 167px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20em;
}
 .chapter-menu a {
    color: #e9a603;
    padding: 10px;
    width: 10rem;
    border-radius: 5px;
    margin-bottom: 19px;
    box-shadow: 0px 0px 7px 5px rgb(158 0 248);
}
.dialog-content {
    background-color: #000000;
    padding: 0px;
    border-radius: 5px;
    position: relative;
    top: -7rem;
}
.dialog-box.open {
    background: #000000f0;
    top: 0rem;
    left: 0px;
    HEIGHT: 640PX;
    WIDTH: -webkit-fill-available;
    visibility: visible;
    opacity: 1;
    transition: opacity 1.8s;
    z-index: 2;
}

/*  TITULO DE LA SERIE DEL POP-UP   */
  
.dialog-content h2 .dialog-content h2 {
    width: calc(70% - 90px);
    height: 28px;
    top: 11%;
    padding: 6px 0px 0px 0px;
    border: 0px;
    background: transparent;
    box-shadow: 0px 2px 25px 9px red;
    text-shadow: 0px 9px 16px #00c8ff;
    font-size: 13px;
    left: 7%;
    right: 9%;
}
.seasons-dialog .seasons-dialog {
    OVERFLOW: scroll;
    HEIGHT: 40%;
    PADDING-TOP: 32px;
    WIDTH: 62%;
    left: 3em;
    top: -19px;
}
.season-button {
    width: 10rem;
    position: relative;
    left: 3%;
    border: 3px solid #90ff00;
    padding: 3px;
    margin-top: 10px;
    color: aqua;
    background: black;
    box-shadow: 0px 1px 21px 0px rgb(255 251 4);
}
h2{
    background: #00000005;
    height: auto;
    PADDING: 20PX 15PX;
    width: 140PX;
    color: aqua;
    font-size: 17px;
}

/*  SINOPSIS DEL POP-UP   */
.seasons h3 {
    LEFT: 15PX;
    OVERFLOW-Y: SCROLL;
    HEIGHT: 154Px;
    WIDTH: 70%;
    font-size: 17px;
    Z-INDEX: 5;
    POSITION: fixed;
    color: aliceblue;
    padding: 11PX 20PX 14PX 20PX;
    TOP: 6EM;
    margin-left: -15px;
    background: #0000ff00;
}
.close-button {
    background: black;
    border: 0.5px solid #00ff3c;
    color: red;
    font-weight: bold;
    position: fixed;
    top: 5px;
    left: 40%;
    right: 36%;
    border-radius: 5px;
    padding: 2px;
    Z-INDEX: 10;
    width: 86px;
}
.navigation-buttons {
    POSITION: RELATIVE;
    ALIGN-ITEMS: center;
    BOTTOM: -15EM;
    TOP: 50%;
    LEFT: 18%;
}

/*  Borde Que Tiene Cada Imagen En Color Rojo */
.serie-info {
    border-radius: 10px;
    box-shadow: 0 0 32px #ff0000;
    position: absolute;
    top: 0;
    left: 0px;
    width: 120PX;
    height: 180px;
    background-color: rgb(0 0 0 / 74%);
    color: white;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    justify-content: center;
}
.serie-image {
    border-radius: 10px;
    width: 120px;
    height: auto;
}
}





/*   ###################################################   */

@media (max-width: 480px) {
      .container {
        gap: 10px; /* Reducir el espacio entre series */
        margin: 5px; /* Espaciado en dispositivos peque os */
      }

.pagina {
    position: relative;
    margin: 0px 7px 20px;
    overflow-x: scroll;
    width: 28.5em;
    height: 4em;
    margin-left: -9em;
    padding: 0px;
    Top:30px;
}
.close-button {
    Font-size: 26px;
    background: black;
    border: 0.5px solid #00ff3c;
    color: red;
    font-weight: bold;
    position: fixed;
    top: 46px;
    left: 34%;
    right: 20%;
    border-radius: 5px;
    padding: 0px 2px 0px 0px;
    width: 6rem;
}
.serie-info h2 {
    font-size: 18px;
    Margin-top: 0px;
    WIDTH: 175PX;
}
p {
    overflow-y: auto;
    height: 120px;
    margin-top: 6.5em;
    padding: 6px 7px;
    background: #00000000;
}

/* CUADRO DONDE APARECEN LAS TEMPORADAS Y LOS CAPITULOS PARA AGRANDAR EL FONDO DEL MARCO */
 .dialog-content {
        left: 0; /* Centrar el cuadro de di logo */
        top: 19%; /* Ajustar la posici n en dispositivos peque os */
        width: 100%; /* Ancho completo */
        height: 500PX; /* Altura autom tica */
      }


.dialog-box {
    MARGIN: 0PX;
    position: fixed;
    top: -38px;
    left: -227PX;
    width: 242%;
    height: 625PX;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}

/*  CUADRO QUE CONTIENE TODO DEL POP-UP   */
.dialog-box.open {
    LEFT: 2PX;
    HEIGHT: 100%;
    WIDTH: 100%;
    visibility: visible;
    opacity: 1;
    transition: opacity 1.5s;
    Z-INDEX: 1;
    background: #000000f5;
}
/*  TITULO DE LA SERIE DEL POP-UP  
.dialog-content h2 {
    OVERFLOW-Y: scroll;
    HEIGHT: 44PX;
    TOP: 113PX;
    font-size: 18px;
    background: #0d4757;
    border: 2px solid red;
    border-radius: 4px;
    padding: 6px 0px 0px 0px;
    transition: all 0.9s;
    text-align: center;
    box-shadow: 0px 0px 31px 12px rgb(255 0 0);
    margin: 0px;
    WIDTH: 16.5EM;
    left: 13px;
    Color: #09ff00;
}   */

.dialog-content h2 {
    top: 4rem;
    color: #00ff11;
    width: auto;
    HEIGHT: 40PX;
    border: 0px;
    background: transparent;
    box-shadow: 0px 0px 0px 0px red;
    text-shadow: 0px 4px 6px #00ff30;
    font-size: 25px;
}
.season-button {
    position: relative;
    left: -0.2em;
    border: 3px solid #90ff00;
    padding: 3px;
    margin-top: 10px;
    color: aqua;
    background: black;
    box-shadow: 0px 1px 21px 0px rgb(255 251 4);
}
 .serie {
        width: 47%; /* Ocupar todo el ancho disponible */
      }

.serie-image {
    border-radius: 10px;
    width: 145px;
    height: auto;
}

/*  SINOPSIS DEL POP-UP   */
.seasons h3 {
    LEFT: 15PX;
    OVERFLOW-Y: SCROLL;
    HEIGHT: 153Px;
    WIDTH: 95%;
    font-size: 17px;
    Z-INDEX: 1;
    POSITION: fixed;
    color: aliceblue;
    padding: 11PX 10PX 20PX 10PX;
    TOP: 127PX;
    margin-left: -15px;
    MARGIN-TOP: 5PX;
}

.hidden h2{
 Top:35px;
 Font-size:18px;
 Width:90%;
 Height:45px;
 Color:Aqua;
 Padding:0px 5Px;
Z-index:10;

}

/* CUADRO  DEL POP-UP PARA AGRANDAR EL CAJON DE TEMPORADAS Y CAPITULOS */
.seasons-dialog {
    position: Initial;
    height: 81%;
    width: 92%;
    border: 3px solid #62ff00;
    padding: 3px;
    margin-Bottom: 18px;
    Margin: 15px;
    color: aqua;
    background: black;
    box-shadow: 0px 1px 21px 0px rgb(255 251 4);
    border-radius: 20px;
}

.chapter-menu a {
    position: relative;
    color: #e9a603;
    padding: 11px;
    left: 14%;
    margin: 0px 0px 0px 12px;
    width: 125%;
    border-radius: 5px;
    margin-bottom: 28px;
    box-shadow: 0px 0px 7px 5px rgb(158 0 248);
}

.chapter-menu a {
    color: #e9a603;
    padding: 11px;
    margin: 0px 0px 0px 12px;
    width: 16rem;
    border-radius: 5px;
    margin-bottom: 28px;
    box-shadow: 0px 0px 7px 5px rgb(158 0 248);
}
.navigation-buttons {
    POSITION: RELATIVE;
    ALIGN-ITEMS: center;
    BOTTOM: -3EM;
    TOP: 50%;
    LEFT: 6%;
}
/*  Borde Que Tiene Cada Imagen En Color Rojo */
.serie-info {
border-radius: 15px;
box-shadow: 0 0 32px #ff0000;
  position: absolute;
  top: 0;
  left: 0;
  width: 145px;
  height: 100%;
  background-color: rgb(0 0 0 / 74%);/*  controlar opacidad */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Estilo de la animaci n para el t tulo */
.animated-title {
    animation: slideLeft 5s linear infinite; /* Duraci n y efecto de animaci n */
    white-space: nowrap; /* Evitar que el texto se divida en m ltiples l neas */
    overflow: hidden; /* Ocultar el texto que desborda el contenedor */
}

/* Definici n de la animaci n */
@keyframes slideLeft {
    0% {
        transform: translateX(100%); /* Comenzar fuera del contenedor */
    }
    100% {
        transform: translateX(-100%); /* Terminar fuera del contenedor */
    }
}



}











::-webkit-scrollbar {display: none;}
